/target
.cargo/
Cargo.lock
.git/
.svn/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Folder for build outputs
node_modules
dist
dist-ssr
public
icons
assets

# Other files
*.local

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

README_old.md
